/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    margin: 0 auto;
    padding: 0 32px;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #333;
    background-color: #f5f5dc;
    max-width: 832px;
    width: 100%;
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* Styles for header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #4682B4;
    text-transform: uppercase;
    position: relative;
}

header ul {
    padding: 0;
    margin: 0px 8px;
    list-style: none;

    & li{
        margin: 0px 8px;
        display: inline;
    }
    & a{
        text-decoration: none;
        color: #c4c4c4;
    }
    & a:hover{
        text-decoration: underline;
    }
}

#logo-navbar{
    max-width: 24px;
    margin: 8px 16px;
}

/* Styles for hero section */
#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4682b4;
    min-height: 300px;
    height: auto;
    & h2{
        text-transform: uppercase;
        text-align: center;
        font-size: 2.4em;
        color: #c4c4c4;
        margin: 32px;
    }
    & p{
        color: #333;
        font-size: 1em;
        margin: 0px 32px;
    }
    & img{
        display: block;
        margin: 32px;
        width: 100%;
        max-width: 200px;
        height: auto;
        object-fit: contain;
    }
    position: relative;
}

/* styles for footer */
footer{
    background-color: #4682B4;
    color: #c4c4c4;
    position: relative;
}

/* Makes header, hero and footer background full width */
header::before, #hero::before, footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: #4682B4;
    z-index: -1;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

@media (max-width: 500px) {
    #hero{
        flex-direction: column;
    }
}